*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    text-align: center;
    margin: 0 auto;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
}


main{
    max-width: 1024px;
    background: white;
    padding: 40px;
    margin: auto;
    margin-top: 5px;
    border-radius: 8px;
}

.imagenLogo{
    width: 50px;
}

.header{
    margin-top: 100px;
    text-align: center;
    margin: 0 auto;
}

nav{
    width: 100%;
    background-color: rgb(236, 191, 177);
    text-align: center;  
    font-size: large; 
}

.nav-logo{
    width: 30px;
    height: 50px;
}

.nav-logo img{
    width: 100%;
    height: 100%;
}

.nav-link{
    font-family: 'Kalam', cursive;
    color:rgb(248, 247, 246);
    justify-content: center; 
}

.nav-link:hover{
    color:rgb(255, 255, 255);
    transform: scale(1.1);
}

h1{
    font-family: 'Satisfy', cursive;
    color:rgb(255, 255, 255);
    background-color:rgb(243, 211, 204);
}

.mi-btn{
    background-color:rgb(245, 208, 197);
    font-family: 'Kalam', cursive;
    color:rgb(248, 247, 246);
    justify-content: center;
}

.mi-btn:hover{
    color:#81807e;
    
}

footer{
    margin-bottom: auto;
    bottom: 0;
    background-color: rgb(236, 191, 177);
}
footer a{
    background-color: rgb(236, 191, 177);
    font-family: 'Kalam', cursive;
    color:rgb(252, 250, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

footer a:hover{
    color:#eeeae6;
}

.card{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 10rem;
    margin: 0 auto;
    transition: all 1s;
}

.card img:hover{
    transform: scale(1.2,1.2);
}


.main-prod{
    max-width: 2000px;
    background: white;
    padding: 40px;
    margin: auto;
    margin-top: 5px;
    border-radius: 8px;
}

.main-recomendados{
    max-width: 1024px;
    background: white;
    padding: 40px;
    margin: auto;
    margin-top: 5px;
    border-radius: 8px;
}

.recomendadoimg img{
    width: 250px;
    height: 250px;
    margin: 10px;
    opacity: 60%;
}

.recomendadoimg img:hover{
    opacity: 100%;
    transition: all 1s;
}

.input {
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
}

.mensaje{
    font-size: small;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    background-color:rgb(245, 208, 197);
    font-family: 'Kalam', cursive;
    color:rgb(248, 247, 246);
    justify-content: center;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: none;
    border-image: initial;
    border-radius: 2px;
}

option{
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
    justify-content: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

  }

  .fa:hover {
    opacity: 0.7;
    color:#eeeae6;
  }
  
  .fa-facebook {
    color: white;
  }
  
  .fa-twitter {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

/*********************************************************seccion blog*********************************************************************************/

#grillablog{
    display: grid;
    grid-template-areas:
        "headerblog headerblog headerblog"
        "main_blog main_blog main_blog"
        "footer_blog footer_blog footer_blog";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 2%;
    justify-content: center;
    background: rgb(243, 211, 204);
    padding: 20px;
}

.headerblog{
    grid-area: headerblog;
    width: 100%;
    max-width: 400px;
    margin-top: 100px;
    text-align: center;
    margin: auto;
}

.headerblog__logo{
    width: 80px;
    height: 100px;
    margin: auto;
}

.headerblog__img{
    width: 100%;
    height: 100%;
}

.headerblog__titulo{
    font-weight: 100;
    font-family: 'Kalam', cursive;
    color:rgb(255, 255, 255);
    margin-top: 20px;
}

.headerblog__parrafo{
    margin-top: 40px;
    font-family: 'Kalam', cursive;
    color:rgb(255, 255, 255);
}


.main_blog{
    grid-area: main_blog;
    max-width: 1000px;
    background: white;
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    border-radius: 8px;
}


/*recomendado1*/

.recomenblog1{
    width: 100%;
}

.recomenblog1__conteimg{
    width: 100%;
    text-align: center;
}

.recomenblog1__img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    opacity: 60%;
}

.recomenblog1__img:hover{
    transform: scale(2,2);
    opacity: 100%;
    transition: all 1s;
}

.recomenblog1__contetext{
    width: 100%;
    text-align: center;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
}

.recomenblog1__titulo{
    margin-top: 40px;
    font-weight: 100;
    text-align: center;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
    background: white;
}

.recomenblog1__texto{
    margin-top: 40px;
    letter-spacing: 1px;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
}

/*recomendado2*/
.recomenblog2{
    width: 100%;
}

.recomenblog2__conteimg{
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.recomenblog2__img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    opacity: 60%;
}

.recomenblog2__img:hover{
    transform: scale(2,2);
    opacity: 100%;
    transition: all 1s;
}

.recomenblog2__contetext{
    width: 100%;
    text-align:left;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
}

.recomenblog2__titulo{
    margin-top: 40px;
    font-weight: 100;
    text-align: center;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
    background: white;
}

.recomenblog2__texto{
    margin-top: 40px;
    letter-spacing: 1px;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
}

/*recomendado3*/
.recomenblog3{
    width: 100%;
}

.recomenblog3__conteimg{
    margin-top: 100px;
    width: 100%;
    text-align:center;
}

.recomenblog3__img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    opacity: 60%;
}

.recomenblog3__img:hover{
    transform: scale(2,2);
    opacity: 100%;
    transition: all 1s;
}

.recomenblog3__contetext{
    width: 100%;
    text-align:left;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
}

.recomenblog3__titulo{
    margin-top: 40px;
    font-weight: 100;
    text-align: center;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
    background: white;
}

.recomenblog3__texto{
    margin-top: 40px;
    letter-spacing: 1px;
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
}

.footer_blog{
    grid-area: footer_blog;
    text-align: center;
    margin: auto;
}

.footer_blog a{
    font-family: 'Kalam', cursive;
    color:rgb(255, 255, 255);
    background-color:rgb(243, 211, 204);
}

.footer_blog a:hover{
    font-family: 'Kalam', cursive;
    color:rgb(201, 163, 163);
    
}

/*************************************************************seccion media queries****************************************************************************************/

@media screen and (min-width: 400px) AND (max-width: 556px){
    .card{
        width: 50%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .card img{
        width: 10rem;
        margin: 0 auto;
    }
    .recomendadoimg img{
        width: 250px;
        height: 250px;
        margin: 10px;
        opacity: 60%;
    }

}

@media screen and (min-width: 556px) AND (max-width: 780px){
    .card{
        width: 50%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .card img{
        width: 150px;
        margin: 0 auto;
    }
    .recomendadoimg img{
        width: 250px;
        height: 250px;
        margin: 10px;
        opacity: 60%;
    }

    .mensaje{
        font-size: medium;
    }

}



@media screen and (min-width: 780px) AND (max-width: 1024px){

    .contenedorprod{
        margin: 0 auto;
        justify-content: center;
    }

    .card{
        width: 60%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        
    }
    
    .card img{
        width: 150px;
        margin: 0 auto;
    }
    .recomendadoimg img{
        width: 350px;
        height: 350px;
        margin: 10px;
        opacity: 60%;
    }

    .mensaje{
        font-size: large;
    }
}

@media screen and (min-width: 1024px){
    .contenedorprod{
        margin: 0 auto;
        justify-content: center;
    }

    .card{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        
    }
    
    .card img{
        width: 150px;
        margin: 0 auto;
    }

    .recomendadoimg img{
        width: 400px;
        height: 400px;
        margin: 10px;
        opacity: 60%;
    }

    .mensaje{
        font-size: large;
    }
}