/*mensajes*/

$colortexto: rgb(216, 128, 77);
$font-familiy: 'Kalam', cursive;

.input {
    font-family: $font-familiy;
    color:$colortexto;
    text-align: left;
    justify-content: left;
}

.mensaje{
    font-size: small;
    text-align: left;
}

.mensaje h4{
    text-align: center;
}

.form-check-input{
    color:$colortexto;
}
.botonformulario{
    justify-content: center;
    text-align: center;
}

option{
    font-family: $font-familiy;
    color:$colortexto;
    justify-content: left;
}