/*mensajes*/

.input {
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
}

.mensaje{
    font-size: small;
}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    background-color:rgb(245, 208, 197);
    font-family: 'Kalam', cursive;
    color:rgb(248, 247, 246);
    justify-content: center;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 2px;
    border-style: none;
    border-image: initial;
    border-radius: 2px;
}

option{
    font-family: 'Kalam', cursive;
    color:rgb(216, 128, 77);
    justify-content: center;
}